.chat-window {
  all: initial;
}

.chat-window * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.chat-window button {
  border: none;
  cursor: pointer;
}

.chat-window {
  font-family: Montserrat, sans-serif;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.chat-window p {
  font-size: 1rem;
}

.chat-window .start-button-container {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 99;
  flex-direction: row-reverse;
}

.chat-window .start-button-text {
  font-size: 16px;
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: white;
}

.chat-window .start-button.text:hover {
  cursor: pointer;
}

.chat-window .start-button-image-container {
  background-color: white;
  color: white;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.chat-window .start-button-image {
  margin: 1rem;
  height: 100%;
}


.chat-window .start-button-tooltip {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 84px;
  z-index: 1000;
  background-color: #101f32;
  border-radius: 2rem;
  font-size: 0.75rem;
  padding: 0.5rem;
  color: white;
  border-top-right-radius: 0px;
}

.chat-window .chat-popup {
  visibility: hidden;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  flex-direction: column;
  position: fixed;
  width: clamp(400px, calc(100% - 70vw), 500px);
  padding: 0px;
  box-shadow: 0px 0px 5px grey;
}

.chat-window .chat-popup-toolbar {
  margin: 0;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  direction: rtl;
  text-align: left;
  z-index: 1000;
  width: 100%;
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.chat-window .close-button-icon,
.chat-window .minimize-button-icon {
  font-size: 1.3rem;
  color: #909090;
  border-radius: 50%;
  padding: 0.2rem;
}

.chat-window .close-button {
  margin-right: 1rem;
  background: none;
  color: white;
}

.chat-window .minimize-button {
  background: none;
  margin-right: 0.5rem;
  color: white;
}

.chat-window .minimize-button-icon:hover,
.chat-window .close-button-icon:hover {
  color: #15552b;
  background-color: #d7d7d7;
}

.chat-window .super-chat-area {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  height: clamp(150px, 80vh, 550px);
}

.chat-window .chat-cover {
  position: absolute;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-window .chat-cover-video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.chat-window #chat-cover-video{
  width: 200px;
}

.chat-window .chat-cover-text {
  font-size: larger;
  margin-bottom: 2rem;
}

.chat-window .chat-cover-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15552b;
  color: #fafafa;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: not-allowed;
  opacity: 0.25;
  margin-right: 30px;
  margin-left: 30px;
}

.chat-window .conditional-not-opaque-not-working-button{
  transition: opacity 0.5s;
  cursor: pointer;
  opacity: 0.5;
}

.chat-window .conditional-not-opaque-not-working-button:hover{
  opacity: 1;
}

.chat-window .chat-area {
  height: 100%;
  overflow: visible;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  padding-top: 0rem;
}

.chat-window .input-area {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  flex-direction: row-reverse;
  border-right: none;
  border-left: none;
}

.chat-window .input-area-submit {
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.7;
  position: relative;
  left: 5px;
  bottom: -30px;
}

.chat-window .send-icon {
  font-size: 1.6rem;
  color: #15552b;
}

.chat-window .start-button-image-container:hover,
.chat-window .input-area-submit:hover,
.chat-window .close-button {
  opacity: 1;
}

.chat-window .server-message-container { 
  display: flex;
  justify-content: flex-end;
}

.chat-window .server-message {
  font-size: 14px;
  background-color: #80bd01;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-top-right-radius: 0px;
  text-align: justify;
  margin: 0.5rem;
  word-spacing: 0.15rem;
}

.chat-window .server-message-container .server-message p {
  font-size: 14px;
  text-align: justify;
  margin: 0.5rem;
  word-spacing: 0.15rem;
}

.chat-window .user-message-container {
  display: flex;
  align-items: center;
}

.chat-window .user-message {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0px;
  background-color: #e1e1e1;
  margin: 0.5rem;
  text-align: justify;
}

@media (max-width: 400px) {

  .chat-window .chat-popup,
  .chat-window .chat-area {
    bottom: 0vh;
    width: 80vw;
    height: 80vh;
    left: 10%;
  }

  .chat-window .start-button-container{
    left: 10%;
  }

  .chat-window .start-button-image-container{
    width: 200px;
    height: 200px;
  }
}



.chat-window .diy-list-whole {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
}

.chat-window .diy-list-item {
  display: flex;
  align-items: center;
  color: #006CFA;
}

.chat-window .diy-list-item:hover,
.chat-window .diy-list-clicked {
  cursor: pointer;
  color: #113F7A;
}

.chat-window .texto-lista {
  color: inherit;
  font-size: 0.9rem;
  line-height: 1rem;
}


.chat-window .contenedor-menu {
  display: flex;
  flex-direction: column;
  right: 1rem;
  left: 1rem;
  margin: 0.5rem;
  margin-top: 0;
  background-color: #da291c;
  border-radius: 1%;
  padding: 0.75rem;
}

.chat-window .contenedor-menu-cuadricula6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-self: center;
  width: 100%;
}

.chat-window .contenedor-menu-YorN {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  align-self: center;
  margin-bottom: 0.5rem;
}

.chat-window .texto-botones {
  color: black;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.chat-window .texto-botones:hover,
.chat-window .btn-img,
.chat-window .contenedores-btns-menu {
  cursor: pointer;
}

.chat-window .contenedor-btn-si,
.chat-window .contenedor-btn-no,
.chat-window .contenedor-btn-agente {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-window .btn-si,
.chat-window .btn-no,
.chat-window .btn-agente {
  margin: 0.1rem;
  font-size: 0.9rem;
}

.chat-window .img-whatsapp {
  height: 50px;
}

.chat-window .contenedor-whatsapp-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat-window .texto-conversar-whatsapp {
  width: 20px;
}

.w-toplink.pos_right.active {
  display: none;
}

.chat-window .input-area-text,
.chat-window .input-area-text:focus {
  all: initial;
  visibility: inherit;
  font-family: Montserrat, sans-serif !important;
  width: 100%;
  font-size: 1rem;
  max-height: 2rem;
  padding: 0.5rem;
  background-color: white;
  margin-right: 45px;
}

.chat-window .make-opaque {
  opacity: 0.3;
  cursor: not-allowed;
}

.chat-window .make-opaque * {
  cursor: not-allowed !important;
}

.chat-window .show {
  visibility: visible;
}

.chat-window .hide {
  visibility: hidden;
}

.chat-window .star-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  cursor: pointer;
}

.chat-window .stars {
  font-size: 40px;
  color: #2e4bc9;
  cursor: pointer;
}

.chat-window .fill-star {
  font-variation-settings: 'FILL' 1;
}

.chat-window .chat-cover-input-container{
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: flex;
  user-select: none;
}

.dropdown-toggle {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-menu.show {
  visibility: visible;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  border: 1px solid black;

}

#chat-cover-input-text{
  border: 1px solid #ccc;
  padding: 2px;
}