.chat-window {
  all: initial;
}

.chat-window * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.chat-window button {
  border: none;
  cursor: pointer;
}

.chat-window {
  font-family: Montserrat, sans-serif;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.chat-window p {
  font-size: 16px;
}

.chat-window .start-button-container {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 99;
  flex-direction: row-reverse;
}

.chat-window .start-button-text {
  font-size: 16px;
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}


.chat-window .start-button-image-container {
  background-color: white;
  color: white;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.chat-window .start-button-image {
  height: 180%;
  padding-top: 20px;
  padding-left: 6.4px;
}


.chat-window .start-button-tooltip {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 84px;
  z-index: 1000;
  background-color: #101f32;
  border-radius: 32px;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-top-right-radius: 0px;
}

.chat-window .chat-popup {
  visibility: hidden;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  flex-direction: column;
  position: fixed;
  width: clamp(400px, calc(100% - 70vw), 500px);
  padding: 0px;
  box-shadow: 0px 0px 5px grey;
}

.chat-window .chat-popup-toolbar {
  margin: 0;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  direction: rtl;
  text-align: left;
  z-index: 1000;
  width: 100%;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
}

.chat-window .close-button-icon,
.chat-window .minimize-button-icon {
  fill: #909090;
  border-radius: 50%;
  padding: 3.2px;
}

.chat-window .minimize-button-icon {
  position: relative;
  bottom: 6px;
}

.chat-window .close-button {
  margin-right: 16px;
  background: none;
  color: white;
}

.chat-window .minimize-button {
  background: none;
  margin-right: 8px;
  color: white;
}

.chat-window .minimize-button:hover,
.chat-window .close-button:hover {
  color: #15552b;
  background-color: #d7d7d7;
}

.chat-window .super-chat-area {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  height: clamp(150px, 80vh, 550px);
}

.chat-window .chat-cover {
  position: absolute;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-window .chat-cover-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.chat-window #chat-cover-video {
  width: 200px;
}

.chat-window .chat-cover-text {
  font-size: larger;
  margin-bottom: 32px;
}

.chat-window .chat-cover-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15552b;
  color: #fafafa;
  padding: 8px;
  border-radius: 5px;
  cursor: not-allowed;
  opacity: 0.25;
  margin-right: 30px;
  margin-left: 30px;
}

.chat-window .conditional-not-opaque-not-working-button {
  transition: opacity 0.5s;
  cursor: pointer;
  opacity: 0.5;
}

.chat-window .conditional-not-opaque-not-working-button:hover {
  opacity: 1;
}

.chat-window .chat-area {
  height: 100%;
  overflow: visible;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.chat-window .input-area {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  flex-direction: row-reverse;
  border-right: none;
  border-left: none;
}

.chat-window .input-area-submit {
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.7;
  position: relative;
  left: 5px;
  bottom: -30px;
}

.chat-window .send-icon {
  fill: #15552b;
  height: 32px;
  width: 32px;
}

.chat-window .start-button-image-container:hover,
.chat-window .input-area-submit:hover,
.chat-window .close-button {
  opacity: 1;
}

.chat-window .server-message-container {
  display: flex;
  justify-content: flex-end;
}

.chat-window .server-message {
  font-size: 14px;
  background-color: #80bd01;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 32px;
  border-top-right-radius: 0px;
  text-align: justify;
  margin: 8px;
  word-spacing: 2.4px;
}

.chat-window .server-message-container .server-message{
  font-size: 14px;
  text-align: justify;
  word-spacing: 2.4px;
}

.chat-window .user-message-container {
  display: flex;
  align-items: center;
}

.chat-window .user-message {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 32px;
  border-bottom-left-radius: 0px;
  background-color: #e1e1e1;
  margin: 8px;
  text-align: justify;
}

@media (max-width: 400px) {

  .chat-window .chat-popup,
  .chat-window .chat-area {
    bottom: 0vh;
    width: 80vw;
    left: 10%;
  }

  .chat-window .start-button-container {
    left: 10%;
  }

  .chat-window .start-button-image-container {
    width: 150px;
    height: 150px;
  }
}



.chat-window .diy-list-whole {
  display: flex;
  flex-direction: column;
  margin-top: 3.2px;
}

.chat-window .diy-list-item {
  display: flex;
  align-items: center;
  color: #006CFA;
}

.chat-window .diy-list-item:hover,
.chat-window .diy-list-clicked {
  cursor: pointer;
  color: #113F7A;
}

.chat-window .texto-lista {
  color: inherit;
  font-size: 14.4px;
  line-height: 16px;
}


.chat-window .contenedor-menu {
  display: flex;
  flex-direction: column;
  right: 16px;
  left: 16px;
  margin: 8px;
  margin-top: 0;
  background-color: #da291c;
  border-radius: 1%;
  padding: 12px;
}

.chat-window .contenedor-menu-cuadricula6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
  align-self: center;
  width: 100%;
}

.chat-window .contenedor-menu-AorB {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  align-self: center;
  margin-bottom: 8px;
}

.chat-window .texto-botones {
  color: black;
  font-size: 12.8px;
  line-height: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.chat-window .texto-botones:hover,
.chat-window .btn-img,
.chat-window .contenedores-btns-menu {
  cursor: pointer;
}

.chat-window .contenedor-boton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  padding-top: 4px;
  padding-bottom: 4px;
}

.chat-window .btn-si,
.chat-window .btn-no,
.chat-window .btn-agente {
  margin: 1.6px;
  font-size: 14.4px;
}

.chat-window .img-whatsapp {
  height: 50px;
}

.chat-window .contenedor-whatsapp-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat-window .texto-conversar-whatsapp {
  width: 20px;
}

.w-toplink.pos_right.active {
  display: none;
}

.chat-window .input-area-text,
.chat-window .input-area-text:focus {
  all: initial;
  visibility: inherit;
  font-family: Montserrat, sans-serif !important;
  width: 100%;
  font-size: 16px;
  max-height: 32px;
  padding: 8px;
  background-color: white;
  margin-right: 45px;
}

.chat-window .make-opaque {
  opacity: 0.3;
  cursor: not-allowed;
}

.chat-window .make-opaque * {
  cursor: not-allowed !important;
}

.chat-window .show {
  visibility: visible;
}

.chat-window .hide {
  visibility: hidden;
}

.chat-window .star-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4.8px;
  cursor: pointer;
}

.chat-window .stars {
  font-size: 40px;
  color: #2e4bc9;
  cursor: pointer;
}

.chat-window .fill-star {
  font-variation-settings: 'FILL' 1;
}

.chat-window .chat-cover-input-container {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.chat-window .dropdown {
  position: relative;
  display: flex;
  user-select: none;
}

.chat-window .dropdown-toggle {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-window .dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 75px;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge scrollbar hide*/
  scrollbar-width: none; /* Firefox scrollbar hide*/
}

.chat-window .dropdown-menu::-webkit-scrollbar {
  display: none; /* Chrome, Opera and Safari scrollbar hide*/
}

.chat-window .dropdown-menu.show {
  visibility: visible;
}

.chat-window .dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
}

.chat-window .dropdown-item:hover {
  background-color: #f0f0f0;
  border: 1px solid black;

}

#chat-cover-input-text {
  border: 1px solid #ccc;
  padding: 2px;
}

#chat-cover-message-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
  z-index: 1;
}

#chat-cover-wait-message {
  position: absolute;
  margin: 5px;
  right: 0;
  left: 0;
}

#chat-cover-close-message {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}

#chat-cover-close-message span {
  font-size: 48px;
}